@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffeedf;
  --foreground: #65171d;
  --color-primary: #ffeedf;
  --color-secondary: #450b1d;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.font-edlavonia {
  font-family: var(--font-ed-lavonia);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.font-edlavonia {
  font-family: var(--font-ed-lavonia);
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Set header height variable */
:root {
  --header-height: 120px; /* Adjust based on your actual header height */
}

/* Optional: Add smooth transitions */
html {
  scroll-behavior: smooth;
}
